<form action="/results" method="POST">
    <div class="form-group">
        <input type="text" name="input" placeholder="Provide a url" autocomplete="off" class="search index-search">
        <button type ="submit" class="btn btn-lg btn-primary" id="index-search-button"><strong>Search</strong></button>
      </div>
</form>