* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto' 'Segoe';
}

body {
  height: 100vh;
}

#art-sum {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  margin: 2% 0 2% 2%;
}

#art-sum-text {
  font-size: 2.5rem;
}

#summary {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: row;
}

#con-rel-section {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

#summary-list {
  list-style-type: none;
}