@font-face {
  font-family: 'Simplifica';
  src: url('../font/SIMPLIFICA/SIMPLIFICA\ Typeface.ttf')
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

li {
  list-style-type: none;
}

.art-sum {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 2% 0 2% 2%;
}

.art-text {
  align-self: flex-start;
  color: rgba(255, 215, 0, 0.851);
  margin-bottom: 2%;
}

.art-sum-text {
  font-size: 3rem;
  margin-bottom: 2%;
}

.art-title-text {
  font-size: 2rem;
  margin-bottom: 2%;
}

.art-title-prop {
  color: rgba(255, 255, 255, 0.85);
}

.concept-text {
  margin-bottom: 1%;
  width: 35%;
  text-align: left;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.summary {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.con-rel-text {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}

.con-rel-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 35%;
}

.sum-section {
  width: 65%;
  height: 100%;
}

.concept-text {
  font-size: 2rem;
  color:rgba(255, 215, 0, 0.85);
  margin-bottom: 1%
}

.concept-section {
  width: 100%;
  color: rgba(255, 215, 0, 0.85);
}

.concept-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.concept-topic {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  width: 50%;
  font-size: 1.5rem;
  padding-left: 2%;
}

.concept-topic a {
  color: rgba(255, 215, 0, 0.85);
}

.donut-graph {
  align-self: center;
  width: 50%;
}

.summary-text-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  height: inherit;
}

.summary-text {
  color: (255, 215, 0, 0.85);
  font-size: 2rem;
  margin-bottom: 1%;
  color: rgba(255, 215, 0, 0.85);
  width: 65%;
  text-align: left;
}

.summary-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 1.5rem;
}

.summary-list li {
  margin-bottom: 2%
}

.full-art-btn {
  color: rgba(255, 215, 0, .85);
  background-color: transparent;
  border: 1px solid rgba(255, 215, 0, .85);
  border-radius: 3px;
  padding: 15px 5px;
  transition: 0.3s;
  font-size: 0.9rem;
  align-self: center;
  transition: 0.3s;
}

.full-art-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.fullArticle {
  color: rgba(255, 255, 255, 1) !important;
  background: rgba(0, 0, 0, 0.85) !important;
  background-color: rgba(0, 0, 0, 0.85);
  border: 1px solid rgba(255, 215, 0, 0.85);
  transition: .3s;
}

.confirmBtn {
  color: rgba(255, 255, 255, 1) !important;
  border: 1px solid rgba(255, 215, 0, 0.85) !important;
  background-color: #000000d9 !important;
  font-size: 1rem;
  font-style: 'normal';
  border-radius: 3px;
  transition: 0.3s;
  font-family: 'Simplifica';
}

.confirmBtn:hover {
  background-color: rgba(255, 215, 0, 0.1) !important;
}

.swal2-popup .swal2-content {
  color: rgba(255, 255, 255, 0.85) !important;
  font-size: 1.5rem !important;
  text-align: justify !important;
}

.swal2-popup .swal2-title {
  color: rgba(255, 215, 0, 0.85) !important;
  font-size: 2rem !important;
}

.content-enter {
  opacity: 0;
}

.content-enter.content-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-out;
}

.content-leave {
  opacity: 1;
}

.content-leave.content-leave-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.content-appear {
  opacity: 0;
}

.content-appear.content-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}