<form action="/results" method="POST">
    <div class="form-group">
        <input type="text" name="text-body" placeholder="Provide a body of text or a url" autocomplete="off" class="search index-search">
        <button type ="submit" class="btn btn-lg btn-primary" id="index-search-button" value=""><strong>Search</strong></button>
      </div>
</form>