* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto' 'Segoe';
}

body {
  height: 100vh;
}

#wri-leg {
  display: flex;
  margin: 2%;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

#leg-text {
  font-size: 3rem;
  text-align: left;
  color: rgba(255, 215, 0, 0.85)
}

#big-five-text {
  color: rgba(255, 215, 0, 0.85);
  font-size: 2rem;
}

.trait-text {
  font-size: 1.3rem;
}

#facet-text { 
  color: rgba(255, 215, 0, 0.85);
  font-size: 2rem;
}

#big-five {
  margin-top: 1.5%;
}

#facet {
  margin-top: 2%;
}

#big-five-list {
  display: flex;
  justify-content: space-around;
}

#facet-list {
  display: flex;
  justify-content: space-around;
}

#big-five-list,
#list-one,
#list-two {
  list-style-type: none;
}

.trustworthy {
  color: rgb(0, 152, 0);
}

.neutral {
  color: rgb(130, 130, 130);
}

.questionable {
  color: rgb(189, 136, 0);
}

.untrustworthy{
  color: rgb(152, 0, 0);
}