* {
  /* border: 0.1px white solid; */
  margin: 0;
  padding: 0;
  font-family: 'Roboto' 'Segoe';
}

*:focus {
  outline: none;
}

#header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  background-color: rgb(45, 45, 45);
}

#header-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

.header-button {
  color: rgba(256, 256, 256, .9);
  background-color: transparent;
  border: 0px;
  padding: 15px 5px;
  transition: 0.3s;
}

.header-button:hover {
  color: rgba(66, 161, 255, 0.7);
}

.header-button::after {
  content: '';
  display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	background: transparent;
	transition: width .3s ease-out, background-color .3s ease;
}

.header-button:hover::after {
	width: 100%;
	background: rgba(66, 161, 255, 0.7);
}

#header-logo .header-button {
  font-size: 2rem;
  margin: 0px 3%;
}

#header-links .header-button {
  font-size: 0.9rem;
  margin: 0px 5px 0px 5px; 
}

.header-spacing {
  height: 35px;
  width: 2px;
  background: rgba(66, 161, 255, 0.7);
}

.header-selected {
  color: rgba(66, 161, 255, 0.7);
  background-color: transparent;
  border: 0px;
  padding: 15px 5px;
  transition: 0.3s;
}

.header-selected::after {
  content: '';
  display: block;
	margin: auto;
	height: 2px;
	width: 100%;
	background: rgba(66, 161, 255, 0.7);
}