@font-face {
  font-family: 'Simplifica';
  src: url('./font/SIMPLIFICA/SIMPLIFICA\ Typeface.ttf')
}

html {
  font-family: 'Simplifica', 'Helvetica', 'sans-serif';
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Simplifica', 'Helvetica', 'sans-serif';
  color: rgba(256, 256, 256, 0.85);
  
}
#background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  background-image: url('./img/pen2.jpg');
  /* Photo by Tyler Lastovich from Pexels */
  background-color: black;
  background-size: cover;
  transition: 0.5s;
}
