* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto' 'Segoe';
}

body {
  height: 100vh;
}

#graphs {
  display: flex;
  align-items: center;
  margin-top: 5%;
}

#rep-text {
  margin: 2% 0 2% 2%;
  font-size: 2.5rem;
}

#rep {
  color: rgb(0, 152, 0);
}

#url-text {
  margin: 2% 0 0 2%;
  font-size: 2rem;
}

#rep-graph {
  background-color: red;
}

#con-graph {
  background-color: blue;
}
