@font-face {
    font-family: 'Simplifica';
    src: url('../font/SIMPLIFICA/SIMPLIFICA\ Typeface.ttf')
}

body{
    width: 100%;
    height: 100vh;
}
.home {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    color: #FFFFFF;
    width: 100%;
    font-family: 'Simplifica', 'Segoe', 'sans-serif';
}

#logo-title {
    font-size: 14rem;
    color: rgba(256, 256, 256, 0.85);
    margin: 5% 0 0 10%;
}

#description {
    font-size: 2.5rem;
    color: rgba(256, 256, 256, 0.85);
    margin-left: 25%;
}

.home-text {
    align-self: flex-start;
    height: 50%;
    width: 50%;
}

.search-form {
    align-self: flex-end;
    height: 50%;
    width: 50%;
    margin: 15% 0 3% 0;
}