.home {
    text-align: center;
    color: #FFFFFF;
}

#logo-title {
    /*font-family: 'Trebuchet MS', 'Gill Sans MT', 'Gill Sans', 'Calibri', sans-serif;*/
    font-family: 'Roboto' 'Segoe';
    font-size: 15rem;
    letter-spacing: -0.6rem;
    color: rgba(256, 256, 256, 0.85);
}

#description {
    font-size: 2.5rem;
    color: rgba(256, 256, 256, 0.85);
}