html {
  height: 100%;
}

body {
  height: 100%;
  background-color: black;
  z-index: -3;
}

#background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -2;
  display: block;
  background-image: url('./img/pen2.jpg');
  /* Photo by Tyler Lastovich from Pexels */
  background-color: black;
  background-size: cover;
  transition: 0.3s;
  height: 100%;
  width: 100%;
}

#content {
  height: 100%;
  width: 100%;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0);
}

.content-enter {
  opacity: 0;
}

.content-enter.content-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-out;
}

.content-leave {
  opacity: 1;
}

.content-leave.content-leave-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.content-appear {
  opacity: 0;
}

.content-appear.content-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}
